slprj
*.slxc
*.asv
Literature/Навигационные приборы и системы.pdf
Literature/Распопов В.Я. Основы построения БИНС.djvu
*.original
Kaf305_example
Literature/Модель БИНС.docx
Literature/Описание ЛР1 по СЗПНСиК.docx
Literature/Диссертация Д.А. Антонова.pdf
Literature/Отчёт Лёхи.docx
*.autosave
Literature/~$дель БИНС.docx
Literature/~$Й ДИПЛОМ.docx
Literature/~$чёт Лёхи.docx
Literature/МОЙ ДИПЛОМ.docx
Visualization/NASAWorldWind/server/p_kalman.mat
Visualization/NASAWorldWind/server/x_hat_kalman.mat
Visualization/NASAWorldWind/server/x_kalman.mat
Modeling/x_hat_kalman.mat
Modeling/x_kalman.mat
Modeling/p_kalman.mat
*.docx
*.pdf
Literature/Ориентация и навигация подвижных объектов/оглавление.txt
*.pdf
*.djvu
Literature/Оформление/images/body_frame_in_fg.jpg
*.pdf
Literature/Книги/Ориентация и навигация подвижных объектов/оглавление.txt
Literature/Оформление/images/ECEF_NED_template.png
Literature/ПОСМОТРЕТЬ ПОТОМ/Презентация пример.pptx
Literature/Оформление/блок-схемы/client.json
Literature/Оформление/блок-схемы/client.png
Literature/Оформление/блок-схемы/FG-simulink.json
Literature/Оформление/блок-схемы/FG-simulink.png
Literature/Оформление/блок-схемы/server.json
Literature/Оформление/блок-схемы/server.png
Modeling/INS_ErrorModel/parkingNavigation_ErrorModel_2019b.slx
Modeling/INS_ErrorModel/Navigation_ErrorModel.slx
*.jpg
*.vsd
*.~vsd
