slprj
*.slxc
*.asv
Literature/Навигационные приборы и системы.pdf
Literature/Распопов В.Я. Основы построения БИНС.djvu
*.original
Kaf305_example
Literature/Модель БИНС.docx
Literature/Описание ЛР1 по СЗПНСиК.docx
Literature/Диссертация Д.А. Антонова.pdf
Literature/Отчёт Лёхи.docx
*.autosave
Literature/~$дель БИНС.docx
Literature/~$Й ДИПЛОМ.docx
Literature/~$чёт Лёхи.docx
Literature/МОЙ ДИПЛОМ.docx
Visualization/NASAWorldWind/server/p_kalman.mat
Visualization/NASAWorldWind/server/x_hat_kalman.mat
Visualization/NASAWorldWind/server/x_kalman.mat
Modeling/x_hat_kalman.mat
Modeling/x_kalman.mat
Modeling/p_kalman.mat
